<div>
  <div class="appBackground"></div>
  <app-header-menu class="header" (ChangeMenuStateEvent)='ChangeMenuStateEvent()'></app-header-menu>
  <div class="main_view_background  col-md-10 col-md-offset-1" [ngSwitch]='selectedScreen'>​
    <div *ngSwitchCase='"About"'>
      <app-about-view></app-about-view>
    </div>​
    <div *ngSwitchCase='"Products"'>
      <app-product-view [ProductsList]='products' [CategoriesList]='categories' [SelectedCategoryName]='SelectedCategoryName'></app-product-view>
    </div>​
    <div *ngSwitchCase='"Contact"'>
      <app-contact-view></app-contact-view>
    </div>​
    <div *ngSwitchDefault>
      <app-home-view (OnCategoryClickEvent)='OnCategorySelectedEvent($event)' [CategoryList]='categories'></app-home-view>
    </div>​
  </div>
  <app-menu-view (ChangeMenuStateEvent)='ChangeMenuStateEvent()' (ChangeScreenEvent)='ChangeScreenEvent($event)' [class.hidden]="!IsMenuOpen"></app-menu-view>
</div>