.menuBackgroundOverlay{
    background-color: black;
    opacity: 0.5;
    width: 100%;
    height: 100%;
    position: absolute;
}
.menuList{
    background-color: white;
    height: 100%;
    margin: 0px;
    padding: 20px;
    position: absolute;
    border-right-style: solid;
    border-right-color: black;
    list-style-type: none;
}
.menuItem{
    color: black;
    font-size: 18px;
    border-width: 0px;
}
.menuItem:active{
    color: aquamarine;
    font-size: 18px;
    border-width: 0px;
}
